 {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#CCC46F;
    background-image:linear-gradient(top, #CCC46F 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #CCC46F 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #CCC46F 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #bf8040),
        color-stop(0.51, #994d00)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:5%;
    padding:0px;
    text-transform:uppercase;

    color: #000000;
    text-shadow: 1px 1px #ffa;

}

/* Portrait layout (default) */
.app {
    background:url(../img/ants.png) no-repeat center top;  320px x 250px */
    position:static;             /* position in the center of the screen */

    height:200px;                   /* text area height */
    width:auto;
    padding: 5px; /* text area width */
    text-align:center;
      /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    background:url(../img/ants.png) no-repeat center top;  320px x 250px */
    position:static;             /* position in the center of the screen */
    padding: 5px;
        width:auto;
    text-align:center;
      /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
    }
}

@media screen and (max-width:560px) {
  .remove-me {
    display: none;
  }

  .show-me {
    display: block;
    text-align: center;
  }

  .inline-me {
    display: inline-block;
  }

    .min-me {
        text-align: center;
        width:100%;
    }
}

h1 {
    font-size:36px;
    font-weight:normal;
    color: #CCC46F;
    outline: 2px;
    text-shadow: 2px 2px #000000;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    text-decoration: underline;
}

.output {
    border: 2px solid #ffffff;
    border-radius: 0px;
    padding: 10px;
}

.info {
    font-size: 1.78em;
    text-align: center;
    background-color: #CCC46F;
    color: #994d00;
    text-shadow: 1px 1px #000;
}

.help {
    font-size: 1.78em;
    text-align: center;
    background-color: #CCC46F;
    color: #000;
    text-shadow: 1px 1px #994d00;
}

.purchases {
    background-color: #bf8040;
}

.under {
    text-decoration: underline;
}

.brownText {
    color: #bf8040;
    text-shadow: 1px 1px #000;
    background-color: #CCC46F;
}
